
.text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.text p{
    font-size: 3em;
    color: rgba(255, 255, 255, 0.4);
    background-image: url(../image/water.png);
    text-transform: uppercase;
    letter-spacing: 20px;
    /* 注意添加私有前缀 */
    -webkit-background-clip: text;
    font-weight: 500;
    animation: wave 15s linear infinite;
}
@keyframes wave{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 1000px 0;
    }
}
